::ng-deep{
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      
        button {
          background: none;
          border: none;
          font-size: 18px;
          cursor: pointer;
      
          &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }
      
        span {
          margin: 0 10px;
          font-size: 18px;
        }
      }
}