body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8d7da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.auth-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 20px;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    background-color: #f1b0b7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #f1b0b7;
}

.auth-form p {
    margin-top: 15px;
    color: black;   
}

.auth-form a {
    color: #f39c12;
    text-decoration: none;
}

.auth-form p a:hover {
    text-decoration: underline;
}
