@import '../../share/style-QL.scss';



::ng-deep{
    .logo{
        text-align: center;
        height: 45px;
    }
    .main-menu-container{
        height: 50px;
        background-color: $Pink-n;
        display: flex;
        justify-content: center;
        align-items: center;
        nav{
            display: flex;
            margin: 0;
            padding: 0;
            a{
                border-right: 1px solid $white; 
                padding: 2px 10px;
                font-weight: bold;
                color: $white;
                &:hover{
                    color: black;
                    transition: 0.5s ease;
                }
                &:active{
                    color: $Pink-n;
                }
                &.selected{
                    color: $yellow-n;
                    &:hover{
                        color:$yellow-d;
                    }
                    &:active{
                        color: $Pink-n;
                    }
                }
            }
        }
    }
}