<header>
    <div class="logo">
        <img src="../../../../assets/logocut.png" alt="">
    </div>
    <div class="main-menu-container">
       <nav>
            <ul>
                <li *ngFor="let item of menuItems"><a routerLink="" [class.selected] ="item === selectedItem" (click)="onselecItem(item)" >{{item.name | uppercase}}</a></li>
            </ul>
       </nav>
    </div>
</header>

<main>
    <div class="group-btn">
        <div class="btn-container">
            <img class="more" src="../../../../assets/setting.png" alt="">
            <div class="add item">+</div>
            <div class="fix item">
                <img class="fix-img" src="../../../../assets/cole.png" alt="">
            </div>
            <div class="delete item">x</div>
        </div>
    </div>

    <div class="list-product-container">
        <ul class="list-product">
            <li *ngFor="let product of products" class="product-item">
                <img [src]="product.imgProduct" alt="{{ product.name }}" class="img-product">
                <div class="infor-product">
                    <div class="name-product">{{product.name}}</div>
                    <div class="price">{{product.price | number: '1. 0-0'}}</div>
                    <div class="describe">{{product.describe}}</div>
                </div>
            </li>
        </ul>
    </div>
</main>