<div class="group-btn">
    <div class="btn-container">
        <img class="more" src="../../../../assets/setting.png" alt="">
        <div class="add item">+</div>
        <div class="fix item">
            <img class="fix-img" src="../../../../assets/cole.png" alt="">
        </div>
        <div class="delete item">x</div>
    </div>
</div>
<div class="list-product-container">
    <ul class="list-product">
        <li *ngFor="let product of products" class="product-item">
            <div class="img-product-container">
                <img [src]="'data:image/png;base64,' + product.Image" alt="{{product.Product_Name}}" class="img-product">
            </div>
            <div class="infor-product">
                <div class="name-product">{{product.Product_Name}}</div>
                <div class="price">{{product.Price | number: '1.2-2'}}</div>
                <div class="shopping-product">
                    <div class="describe">{{product.Description}}</div>
                    <div class="btn-product btn"><img src="../../../assets/icons8-cart-30.png" alt=""></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)">
</app-pagination>